extends layout

block content
  h1= title
  p Credenciales

  .main-container
    .credentials.container
        each credencial in datosJson
            .credential-card
                h2 #{credencial.id}
                h3 #{credencial.time}
                p #{credencial.data.id}

