extends layout

block content
  .container-full.error-margin
    .error-card
      if (error && errorMsg)
        h2 Error #{ error.status }
        h3 #{ errorMsg }
      else if (error) 
        h2 Error #{ error.status }
      else
        h3 #{ errorMsg }
