doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content="width=device-width, initial-scale=1" name="viewport")
  body  
    .navbar
      h1 Gaia-X Catalog
      ul.nav-list 
        li.nav-item
          a.nav-link(href="/") Inicio
        li.nav-item
          a.nav-link(href="/credentials") Credenciales
        li.nav-item
          a.nav-link(href="/credential-by-id") Credencial por ID
        li.nav-item
          a.nav-link(href="/upload-credential") Subir credencial
    main
      block content
    script(src='/javascripts/main.js')
