extends layout

block content
  h2 Subir Credencial
  .container-full
    .form-card
        h3 Elige el archivo de la credencial:
        form.upload-form(action="/upload-credential" method="post" enctype="multipart/form-data") 
            input(type="file" name="credential" required)
            button.submit-button(type="submit" name="submit") Subir 