extends layout

block content
  h2 Subir Credencial
  .container-full
    .form-card
        form.upload-form-2(action="/upload-credential" method="post" enctype="multipart/form-data")
          h4 Tipo de credencial
          .credential-type-radio
            label.container-cred-type 
              input(type="radio", checked, name="tipo", value="Tagus")
              span.checkmark
              span Tagus
            label.container-cred-type
              input(type="radio", checked, name="tipo", value="Loire")
              span.checkmark
              span Loire
          h4 Archivo de credencial
          .file-upload
              input.file-upload-input(type="file", name="credential", id="myFile")
              button.file-upload-button(type="button") Elegir Archivo
              span.file-upload-label
          .submit-container
            button.submit-button(type="submit" name="submit") Subir 