extends layout

block content
  h1= title
  .top-bar 
    h2 Credencial por ID

  .main-container
    .credentials.container
        .credential-card
            h2 #{datosJson.id}
            h3 #{datosJson.time}
            p #{datosJson.data.id}
    

