extends layout

block content
  h1= title
  .top-bar 
    h2 Credencial por ID


  .main-container
    .credentials.container
        form(action="/credential-by-id", method="post") 
            input(type="text" name="uuid" required)
            button.submit-button(type="submit" name="submit") Buscar
    

