body {
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 88%;
  background-color: #f5f5f5;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: #00b7ff;
}

.credential-card {
  margin-bottom: 7rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.78rem;
  background-color: white;
  /* max-width: 700px; */
}

.container {
  padding: 1.8rem;
  text-wrap: wrap;
}

p {
  /* Approx. 600px */
  max-width: 42rem;
  word-wrap: break-word;
  /* overflow: hidden; */
}

.main-container {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  text-decoration: none;
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
}

.pagination-link:hover {
  background-color: lightgray;
}

.pagination-link-active {
  background-color: lightgray;
}

.pagination-number {
  border-left: 0px;
}

.pagination-start {
  border-radius: 5px 0px 0px 5px;
}

.pagination-last {
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  margin-left: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .08);
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 16px;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: lightgray;
}

main {
  padding: 3.55rem;
}

.button-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.button-container button {
  padding: 7px 30px;
  color: white;
  background-color: #106cfc;
  /* background-color: #70747c; */
  border: 0;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #105cd4;
  /* background-color: #5c636a; */
}

/* Media Query para Móvil */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .nav-list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
  }

  .pagination-list {
    padding: 0px;
  }

  p {
    max-width: 10rem;
  }

  .credentials form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

}

/* Media Query para Tablet  */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
  }

  .pagination-list {
    padding: 0px;
  }

  .container {
    padding: 1.2rem;
  }
}
