body {
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 88%;
  background-color: #f5f5f5;
  width: 100vw;
  overflow-x: hidden;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

a {
  color: #00b7ff;
}

.credential-card {
  margin-bottom: 7rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.78rem;
  background-color: white;
  /* max-width: 700px; */
}

.container {
  padding: 1.8rem;
  text-wrap: wrap;
}

p {
  /* Approx. 600px */
  max-width: 42rem;
  word-wrap: break-word;
  /* overflow: hidden; */
}

.main-container {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  text-decoration: none;
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
}

.pagination-link:hover {
  background-color: lightgray;
}

.pagination-link-active {
  background-color: lightgray;
}

.pagination-number {
  border-left: 0px;
}

.pagination-start {
  border-radius: 5px 0px 0px 5px;
}

.pagination-last {
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  margin-left: 0.5rem;
  max-width: 4rem;
  border: 1px solid black;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px 10px;
}

.submit-button:hover {
  background-color: darkgray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 16px;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: lightgray;
}

main {
  padding: 3.55rem;
}

.button-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.7rem;
}

.button-container button {
  padding: 7px 30px;
  color: white;
  background-color: #106cfc;
  /* background-color: #70747c; */
  border: 0;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #105cd4;
  /* background-color: #5c636a; */
}

.container-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container a {
  text-decoration: none;
}

.criterios-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  background-color: #106cfc;
  border: 0;
  border-radius: 5px;
  height: 100%;
}

.criterios-button span {
  padding: 7px 7px;
}

.criterios-button i {
  box-sizing: border-box;
  padding: 2px 15px;
}

.button-container button {
  height: 100%;
}

.form-card {
  margin-bottom: 7rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.78rem;
  background-color: white;
  min-width: 35rem;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-card {
  margin-bottom: 7rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.78rem;
  background-color: white;
  max-width: 18rem;
  text-align: center;
}

.error-card h2 {
  margin: 0;
}

.error-margin {
  margin-top: 5%;
}

.credential-type-list {
  display: flex;
  padding: 0;
}

.type-list-item {
  text-decoration: none;
  list-style-type: none;
}

.type-link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
}

#type-link-1 {
  border-radius: 5px 0px 0px 5px;
}

#type-link-2 {
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.top-bar h2 {
  margin: 0;
}

.type-link:hover {
  background-color: lightgray;
}

.type-link-active {
  background-color: lightgray;
}

.icon-dropdown {
  content: "";
  background-image: url("/images/dropdown_principal.png");
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-dropdown-active {
  transform: rotate(-90deg);
}

.criteria-container {
  display: none !important;
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.criteria-container-active {
  display: block !important;
  max-height: 100%;
  overflow: hidden;
}

body:has(.anchor-tooltip:hover) .criteria-container {
  overflow: visible;
}

body:has(.anchor-tooltip:hover) .criteria-container-active {
  overflow: visible;
}

.criterion {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.criterion h3 {
  margin: 0;
}

.icon-dropdown-black {
  content: "";
  background-image: url("/images/dropdown_black.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.icon-dropdown-black-active {
  transform: rotate(-180deg);
}

.wrapper-transition {
  display: grid;
  width: 100%;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s ease-out;
}

.wrapper-transition-active {
  grid-template-rows: 1fr;
}

.criterion-satisfied {
  display: none !important;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 20px;
  max-width: 521px;
  flex-wrap: wrap;
}

.criterion-satisfied-active {
  display: flex !important;
}

.criterion-satisfied button {
  text-decoration: none;
  padding: 8px;
  /* border: 1px solid black; */
  /* color: #44546f; */
  color: black;
  background-color: #f1f2f4;
  border-radius: 7px;
  /* font-weight: 600; */
}

.criterion-satisfied button:hover {
  background-color: lightgray;
}

.anchor-tooltip {
  position: relative;
}

.anchor-tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  /* background-color: #186cfc; */
  background-color: #706c6c;
  /* color: #fff; */
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.anchor-tooltip:hover .tooltip-text {
  visibility: visible;
}

.criterion-satisfied h4 {
  margin: 0;
  font-weight: normal;
}

.upload-form-2 {
  display: flex;
  flex-direction: column;
}

.credential-type-buttons {
  display: flex;
  gap: 0.5rem;
}

.credential-type-button {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 6px;
}

.credential-type-button:hover {
  background-color: darkgray;
}

.input-file {
  margin-bottom: 1.75rem;
}

.submit-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-card h4 {
  margin-bottom: 0.75rem;
}

.credential-type-radio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.container-cred-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  padding: 0;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}

.container-cred-type:hover input ~ .checkmark {
  background-color: darkgray;
}

.container-cred-type input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-cred-type input:checked ~ .checkmark:after {
  display: block;
}

.container-cred-type .checkmark:after {
  top: 5px;
  left: 5.25px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.container-cred-type input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: block;
  position: relative;
  height: 19px;
  width: 19px;
  background-color: #d4d2d2;
  border-radius: 50%;
}

/* Media Query para Móvil */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .nav-list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
  }

  .pagination-list {
    padding: 0px;
  }

  p {
    max-width: 10rem;
  }

  .credentials form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .form-card {
    min-width: 0;
  }
}

/* Media Query para Tablet  */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
  }

  .pagination-list {
    padding: 0px;
  }

  .container {
    padding: 1.2rem;
  }
}
