body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

a {
  color: #00b7ff;
}

.credential-card {
  margin-bottom: 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: white;
}

.container {
  padding: 50px;
  max-width: 500px;
  text-wrap: wrap;
}

p {
  max-width: 250px;
  word-wrap: break-word;
  /* overflow: hidden; */
}

.main-container {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  text-decoration: none;
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
}

.pagination-link:hover {
  background-color: lightgray;
}

.pagination-link-active {
  background-color: lightgray;
}

.pagination-number {
  border-left: 0px;
}

.pagination-start {
  border-radius: 5px 0px 0px 5px;
}

.pagination-last {
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}
